<% content_for :title, "Login" %>

<form method="get" action="">
  <legend><div>Sign in to <span class="weight500">Deal Relay</span></div></legend>
  <fieldset>
    <div class="control-group">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter your username here..">
    </div>
    <div class="control-group">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter password here..">
    </div>
    <div class="control-group">
      <p><input type="checkbox" name="remember-me" value="remember-me"><span class="checkbox-text">Remember me on this computer</span></p>
      <p><input type="submit" class="btn btn-primary btn-primary-b" value="Login"></p>
    </div>
  </fieldset>
</form>
<p class="sigUpStatement">Don't have a Deal Relay account? <a href="/registration">Sign up today.</a></p>