<% content_for :title, "Registration" %>

<form method="get" action="">
  <legend><div>Welcome to <span class="weight500">Deal Relay</span></div></legend>
  <fieldset>
    <div class="control-group">
      <label>Email</label>
      <input type="email" name="email" placeholder="Enter your email here..">
    </div>
    <div class="control-group">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter password here..">
    </div>
    <div class="control-group">
      <label>Confirm Password</label>
      <input type="password" name="password" placeholder="Password confirmation..">
    </div>
    <div class="control-group">
      <p><input type="checkbox" name="remember-me" value="remember-me"><span class="checkbox-text">I agree with terms and conditions</span></p>
      <p><input type="submit" class="btn btn-primary btn-primary-b" value="Login"></p>
    </div>
  </fieldset>
</form>
<p class="sigUpStatement">Already have a Deal Relay account? <a href="/login">Log in here.</a></p>